LA_DATASET_URL=
LA_PAGE_SIZE=100
LA_FIELD_OWNER=owner_name
LA_FIELD_PROPERTY_ADDRESS=property_address
LA_FIELD_MAILING_ADDRESS=mailing_address
LA_FIELD_CITY=city
LA_FIELD_STATE=state
LA_FIELD_ZIP=zip
LA_FIELD_PARCEL_ID=parcel_id
LA_FIELD_PROPERTY_TYPE=property_type
LA_CITY_FILTER_PARAM=

BROWARD_DATASET_URL=https://services1.arcgis.com/fo4p3O1xXIiFqk9X/ArcGIS/rest/services/PropertyAppraiserParcels/FeatureServer/0/query
BROWARD_PAGE_SIZE=100
BROWARD_CITY_FILTER_PARAM=CITY

OR_DESCHUTES_DATASET_URL=https://services1.arcgis.com/znO8Hz1SuVVohYhZ/ArcGIS/rest/services/Taxlots/FeatureServer/0/query
OR_DESCHUTES_RELATED_URL=https://services1.arcgis.com/znO8Hz1SuVVohYhZ/ArcGIS/rest/services/Taxlots/FeatureServer/0/queryRelatedRecords
OR_DESCHUTES_PAGE_SIZE=200

CA_HUMBOLDT_DATASET_URL=https://gis.co.humboldt.ca.us/arcgis/rest/services/Accela_Parcels_Roads/MapServer/2/query
CA_HUMBOLDT_PAGE_SIZE=200
CA_HUMBOLDT_CITY_FILTER_PARAM=SITCITY

TRUST_BRIDGE_SOURCES=ca_humboldt_parcels,or_deschutes_taxlots
TRUST_BRIDGE_ALLOWED_STATES=CA OR
TRUST_BRIDGE_PER_SOURCE_LIMIT=500
TRUST_BRIDGE_FINAL_LIMIT=200
TRUST_BRIDGE_OUTPUT=data/trust_bridge_leads.csv
TRUST_BRIDGE_PREFER_OWNER_OCCUPIED=1
TRUST_BRIDGE_FREE_PHONE_LOOKUP_ENABLED=1
TRUST_BRIDGE_FREE_PHONE_LOOKUP_USE_BROWSER=1
TRUST_BRIDGE_FREE_PHONE_LOOKUP_TIMEOUT_SECONDS=10
TRUST_BRIDGE_FREE_PHONE_LOOKUP_DELAY_SECONDS=0.2
TRUST_BRIDGE_FREE_PHONE_LOOKUP_MAX_CANDIDATES=5
TRUST_BRIDGE_FREE_PHONE_LOOKUP_MAX_PER_RUN=200
